*        text=auto
*.sh     text=auto  eol=lf

*.asc    binary
*.gif    binary
*.jpg    binary
*.jpeg   binary
*.mp3    binary
*.mp4    binary
*.otf    binary
*.png    binary
*.webm   binary
*.webp   binary
*.woff2  binary
docusaurus/static/.well-known/openpgpkey/hu/* binary

*.css    diff=css
*.html   diff=html
*.md     diff=markdown
*.mdx    diff=markdown
*.sh     diff=bash

# GitHub Linguist Support
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
.arclint              linguist-language=json
.devcontainer/**.json linguist-language=jsonc
.vscode/**.json       linguist-language=jsonc
.yamllint             linguist-language=yaml
*.md                  linguist-detectable
docusaurus/static/.well-known/openpgpkey/hu/ linguist-generated
