; SPDX-FileCopyrightText: (C) 2023 GitHub
; SPDX-FileCopyrightText: (C) 2024 Hong Yongmin <https://revi.xyz>
;
; SPDX-License-Identifier: Apache-2.0
; SPDX-License-Identifier: MIT

# This probably lacks Threshold of Originality but I'm keeping it here
# for the sake of completeness.
# For 15-25% faster npm install
# https://www.peterbe.com/plog/benchmarking-npm-install-with-or-without-audit
# Also we have Dependabot alerts configured in the GitHub repo.
# See also D375
audit=false
fund=false
# Prefer deduplication to reduce clutter
prefer-dedupe=true
