# SPDX-FileCopyrightText: (C) 2024 Hong Yongmin <https://revi.xyz>
#
# SPDX-License-Identifier: Apache-2.0

CODEOWNERS
docusaurus/build
docusaurus/static
node_modules
package-lock.json
.pinterest-linters/
playwright-report/
test-results/
