# SPDX-FileCopyrightText: (C) 2024 Hong Yongmin <https://revi.xyz/>
#
# SPDX-License-Identifier: Apache-2.0

---
yaml-files:
  - '*.yaml'
  - '*.yml'
  - .yamllint

extends: default

locale: ko_KR.UTF-8

ignore-from-file: [.gitignore, .prettierignore]

rules:
  comments:
    level: warning
    min-spaces-from-content: 1
  comments-indentation: {}
  document-start:
    present: true
    level: warning
  float-values:
    forbid-scientific-notation: true
    require-numeral-before-decimal: true
  indentation:
    indent-sequences: consistent
  line-length:
    max: 80
    level: warning
  # Handled by arc lint.
  new-line-at-end-of-file:
    level: warning
  # Handled by arc lint.
  new-lines:
    level: warning
  quoted-strings:
    level: warning
    quote-type: any
    required: only-when-needed
    extra-allowed: [\*, \~, \-, ^http://, ^https://]
  truthy:
    level: warning
    # on: included because GitHub Actions
    allowed-values: ['on', 'true', 'false']
