# SPDX-FileCopyrightText: (C) 2025 Hong Yongmin (https://revi.xyz/) <yewon@revi.email>
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: Premerge build

on:
  pull_request:
  merge_group:
  workflow_dispatch:

# prettier-ignore
env:
  IBM_TELEMETRY_DISABLED: true
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  build-before-merge:
    name: Build docusaurus before merge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: '.node-version'
          cache: npm
      - name: Install dependencies
        run: npm ci --omit=optional
      - name: Build docusaurus
        run: npm run dbuild
