# SPDX-FileCopyrightText: (C) 2024 Hong Yongmin (https://revi.xyz/) <yewon@revi.email>
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: CI test

on:
  workflow_run:
    types: [completed]
    workflows: [Cloudflare Pages]
    branches:
      - master
      - arcpatch-D**
  workflow_dispatch:

# prettier-ignore
env:
  IBM_TELEMETRY_DISABLED: true
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: '.node-version'
          cache: npm
      - name: Install dependencies
        run: npm ci --omit=optional
      - name: Build docusaurus
        run: npm run dbuild
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: bash scripts/playwright.sh
        env:
          BUILDKITE_ANALYTICS_TOKEN: ${{ secrets.BUILDKITE_ANALYTICS_TOKEN }}
      - name: Upload Playwright Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  lighthouse-ci:
    name: Lighthouse CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: '.node-version'
          cache: npm
      - name: Install dependencies
        run: npm ci --omit=optional
      - name: Build docusaurus
        run: npm run dbuild
      - name: lhci version check
        run: npx lhci --version --workspace=docusaurus
      - name: Run lighthouse CI
        run: bash scripts/lighthouse.sh
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
